body {
  box-sizing: border-box !important;
  background-color: #202022 !important;
  font-family: "Open Sans", sans-serif;
  color: #f3f7f0 !important;
}

* {
  font-family: "Open Sans", sans-serif;
}

/* Override the line color */
.ant-steps-item-tail::after {
  background-color: #f3f7f0 !important;
}

/* Override the title text color */
.ant-steps-item-title {
  color: #f3f7f0 !important;
}

/* Override the description text color */
.ant-steps-item-description {
  color: #f3f7f0 !important;
}
